[submodule "evmc"]
	path = evmc
	url = https://github.com/ethereum/evmc
[submodule "evm-benchmarks"]
	path = test/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
[submodule "lib/blueprint"]
	path = lib/blueprint
	url = ../../NilFoundation/zkllvm-blueprint.git
[submodule "lib/crypto3"]
	path = lib/crypto3
	url = ../../NilFoundation/crypto3.git
